/*-- scss:defaults --*/

$link-color: #a10d25;
$selection-bg: #a10d25;
/*-- scss:rules --*/
#title-slide {
  .title {
    font-size: 1.5em;
    color: #202124;
  }
  .my_class1 {
  height: 100px;
  width: 80px;
  }
  .reveal pre {
    font-size: 1rem !important;
    height: 100px !important;
  }
  
  code {
  font-size: 0.5em;
  /* or try font-size: xx-large; */
}

  .reveal code {
    font-size: 0.5em !important;
  }

  .hscroll {
    overflow-x: auto;
    white-space: nowrap;
  }
  .subtitle {
    font-size: 1em;
  }
  .footer {
    font-size: 1em;
  }
  .date {
	  font-size: 18px;
	  color: #676162 !important;
}
  .quarto-title-author {
  font-size: 1em;
    color: #676162;
  }
}
.slide-logo {
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  right: 10px !important;
  max-height: 13% !important;
  height: 80% !important;
  width: auto !important;
  color: $body-color !important;
}
.reveal .footer > * {
	background-color: #ecf0f1;
	font-size: 2em;
}

