/*-- scss:defaults --*/

$link-color: #a10d25;
$selection-bg: #a10d25;
/*-- scss:rules --*/
#title-slide {
  .title {
    font-size: 1.3em;
    color: #202124;
  }

  .subtitle {
    font-size: 1.5em;
  }
  .footer {
    font-size: 1em;
  }
  .date {
	  font-size: 20px;
	  color: #676162 !important;
}
  .quarto-title-author {
  font-size: 1em;
    color: #676162;
  }
}
.slide-logo {
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  right: 10px !important;
  max-height: 13% !important;
  height: 80% !important;
  width: auto !important;
  color: $body-color !important;
}
.reveal .footer > * {
	background-color: #ecf0f1;
	font-size: 1em;
}

